<app-navbar></app-navbar>
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-default alpha-4">
        </div>
        <!-- SVG separator -->
    </section>
    <section class="section">
        <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">
            <div class="card card-profile shadow mt--300">
                <div class="px-4 fadeIn-fast">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>