<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <div id="particle-container">
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png) no-repeat center center fixed; background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>
                <div class="particle" style="background-image: url(./assets/img/avocado-white.png); background-position: center center;
                        background-size: cover;"></div>

            </div>
        </div>
        <!-- SVG separator -->
    </section>
    <section class="section">
        <div class="col-lg-10 col-md-10 col-sm-11 mx-auto">
            <div class="card card-profile shadow mt--300">
                <div class="px-4 fadeIn-fast">
                    <h2 class="display-3 text-center mt-5">About us</h2>
                    <div class="row text-justify ">
                        <div class="col-md-11 col-lg-10 col-xl-10 mx-auto">
                            <div class="card card-lift--hover border-0">
                                <div class="card-body py-5">
                                    <h5 class="text-center mt-auto">Passionate Marketing Experts</h5>
                                    <p class="mt-3">Avocado is the newest and most fresh advertising agency in California. We help businesses create their brand presence and achieve their goals. Our process is designed to empower your brand and outfit your business with
                                        the marketing tools needed to succeed. Talk to us today about how we can support your growth, limit your turnover, and put you on a solid track to success and profit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-lg-10 col-xl-10 mx-auto">
                            <div class="card card-lift--hover border-0">
                                <div class="card-body py-5">
                                    <h5 class="text-center mt-auto">Our Analytical Approach</h5>
                                    <p class="mt-3">Our service includes a comprehensive consult to help identify gaps and opportunities, and results in a comprehensive report that includes a project plan with timelines a cost analysis. Our individualized plans are made
                                        up of quality services that will help you get there quickly and smoothly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-lg-10 col-xl-10 mx-auto">
                            <div class="card card-lift--hover border-0">
                                <div class="card-body py-5 text-center">
                                    <h5 class="text-center mt-auto">Industry Wide Success</h5>
                                    <p class="mt-3">We work with a large number of clients from various industries, including:</p>
                                    <div class="d-flex">
                                        <ul class="list-inline mx-auto justify-content-center font-weight-light">
                                            <li>Rentail</li>
                                            <li>Auto</li>
                                            <li>Nightclub/Restaurant</li>
                                            <li>Medical</li>
                                        </ul>
                                    </div>
                                    <p>
                                        Our marketing experts are ready assist you in developing a marketing plan that drives your business.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center mt-5">
                        <div class="col-lg-8">
                            <h2 class="display-3">Our Team</h2>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="px-4" data-aos="zoom-out" data-aos-once="true">
                                <img src="./assets/img/partners/abrahan1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover card-lift--hover" style="width: 200px;">
                                <div class="pt-4 text-center">
                                    <h5 class="title">
                                        <span class="d-block mb-1">Abrahan Lariz</span>
                                        <small class="h6 text-muted">Account Manager</small>
                                    </h5>
                                    <!-- <div class="mt-3">
                                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="px-4" data-aos="zoom-out" data-aos-once="true">
                                <img src="./assets/img/partners/ezequiel.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover card-lift--hover" style="width: 200px;">
                                <div class="pt-4 text-center">
                                    <h5 class="title">
                                        <span class="d-block mb-1">Ezequiel Lariz</span>
                                        <small class="h6 text-muted">Creative Director</small>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="px-4" data-aos="zoom-out" data-aos-once="true">
                                <img src="./assets/img/partners/lambo.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover card-lift--hover" style="width: 200px;">
                                <div class="pt-4 text-center">
                                    <h5 class="title">
                                        <span class="d-block mb-1">Lambo</span>
                                        <small class="h6 text-muted">Playtime Specialist</small>
                                    </h5>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>