<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <p>Iniciar sesión</p>
                            </div>
                            <form role="form" novalidate [formGroup]="loginForm">
                                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-correo-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Correo" (focus)="focus=true" (blur)="focus=false" formControlName="correo">
                                    </div>
                                    <div *ngIf="loginForm.get('correo').errors?.required && loginForm.get('correo').touched"> <small>Se requiere correo</small> </div>
                                    <div *ngIf="loginForm.get('correo').errors?.correo && loginForm.get('correo').touched"> <small>Correo no valido</small> </div>

                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Contraseña" type="password" (focus)="focus1=true" (blur)="focus1=false" formControlName="password">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" class="btn btn-primary my-4" (click)="onSubmit()" [disabled]="this.loginForm.invalid">Iniciar Sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-12 text-right">
                            <a href="javascript:void(0)" class="text-light" (click)="navigate()">
                                <small>Crear nueva cuenta</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>