<h2 class="display-3 text-center mt-5">Control usuarios</h2>
<div class="row">
    <div class="col-12">

        <div class="card text-center my-4">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm" [routerLink]="['/system/user/new']" href="javascript:void(0)"> <i class="fas fa-plus"></i> Nuevo usuario</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">

                <div class="input-group input-group-sm my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input class="form-control" type="text" placeholder="Search name..." (keyup)="updateFilter($event)" />
                </div>



                <ngx-datatable #table class="bootstrap" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [selected]="selected" [selectionType]="'checkbox'">
                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="true" [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="nombre">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Nombre</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="apellidos">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Apellidos</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="correo">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Correo</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="id">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Acciones</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            <ng-container>
                                <a href="javascript:void(0)" class="table-icon-button mx-1" (click)="fnEdit(value)" placement="bottom" ngbTooltip="Editar usuario">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="javascript:void(0)" class="table-icon-button mx-1" (click)="fnDelete(value)" placement="bottom" ngbTooltip="Eliminar usuario">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </ng-container>

                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>



            </div>
        </div>

    </div>
</div>