<main>
    <div class="page-header section-dark">
        <div class="content-center">
            <div class="container">
                <div class="shape shape-style-1 shape-primary">
                    <div id="particle-container">
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>
                        <div class="particle2"></div>

                    </div>
                </div>
                <div class="text-center" data-aos="zoom-out">
                    <img src="./assets/img/logo-white.png" style="width: 300px;" class="img-fluid"><br>
                    <!-- <h2 class="text-white font-weight-light mt-4">Stand out from the Crowd</h2> -->
                    <h2 class="text-white font-weight-light mt-4">The superfood you’re business</h2>
                    <!-- <div class="btn-wrapper mt-5">
                        <a href="javascript:void(0)" class="btn btn-lg btn-white btn-icon mb-sm-0">
                            <span class="btn-inner--text">Book Online</span>
                        </a>

                    </div> -->

                    <div class="btn-wrapper mt-5">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-white d-none d-sm-block" id="dropdownBasic1" ngbDropdownToggle>What industry is your business in?</button>
                            <button class="btn btn-white btn-sm d-sm-none" id="dropdownBasic1" ngbDropdownToggle>What industry is your business in?</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 150px; overflow-y: scroll;">
                                <button ngbDropdownItem *ngFor="let industry of industry" (click)="fnIndustrySelected(industry)">
                                    {{industry}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
                <div id="particle-container">
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                </div>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./assets/img/logo-white.png" style="width: 300px;" class="img-fluid"><br>
                            <h2 class="text-white font-weight-light mt-4">Stand out from the Crowd</h2>
                            <h5 class="text-white font-weight-light"> Attract the ripe customers</h5>
                            <div class="btn-wrapper mt-5">
                                <a href="javascript:void(0)" class="btn btn-lg btn-white btn-icon mb-sm-0">
                                    <span class="btn-inner--text">Book Online</span>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div> -->



</main>