<h2 class="display-3 text-center mt-5">Asistencia</h2>
<div class="row">
    <div class="col-12">

        <div class="card text-center my-4">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm" (click)="goBack()" href="javascript:void(0)"> <i class="fas fa-arrow-left"></i> Regresar</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">

                <div class="input-group input-group-sm my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input class="form-control" type="text" placeholder="Search name..." (keyup)="updateFilter($event)" />
                </div>

                <div class="row text-center" *ngIf="!tableLoaded">
                    <div class="col-12 text-primary" style="margin-top: 50px;">
                        <i class="fa fa-spinner fa-4x fa-spin "></i>
                    </div>
                    <div class="col-12" style="margin-top: 20px;">
                        Cargando asistencias...
                    </div>
                </div>


                <ngx-datatable *ngIf="tableLoaded" #table class="bootstrap" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="true" [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="nombre">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Nombre</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="apellidos">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Apellidos</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="correo">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Correo</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            <span>Sem / Grupo</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{row.semestre}}º {{row.grupo}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="id">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Acciones</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value">
                            <ng-container>
                                <a *ngIf="checkList[value].check == 0" href="javascript:void(0)" class="btn btn-sm btn-primary" (click)="fnCheckList(value)">
                                    Asistencia
                                </a>
                                <a *ngIf="checkList[value].check == 1" href="javascript:void(0)" class="btn btn-sm btn-primary" disabled>
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="checkList[value].check == 2" href="javascript:void(0)" class="btn btn-sm btn-success" disabled>
                                    <i class="fa fa-check-circle" aria-hidden="true"></i> Asistencia
                                </a>

                            </ng-container>

                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>




            </div>
        </div>

    </div>

</div>