<footer class="footer">

    <div class="container">

        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; {{test | date: 'yyyy'}} Congreso
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                        <a [routerLink]="['/system/faq/control']" class="nav-link">FAQ</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>